*{
    margin: 0;
    padding: 0;
}
.carre, .bloc{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.black{
    height: 35vh;
    width: 20vw;
    background-color: black;
}

.red{
    height: 35vh;
    width: 20vw;
    background-color: red;
}

/*--------------------------- JS------------------------------------------------ */
.pinkBloc{
    height: 35vh;
    width: 20vw;
    background-color: pink;
    transition: 0.45s;
}

.yellowBloc{
    height: 35vh;
    width: 20vw;
    background-color: yellow;
    transition: 0.45s;
}


hr{
 border-color: #ededed;
 margin-top: 30px;
}

/* ----------- Deuxième exercice----------------------------------- */
.yellow{
    height: 35vh;
    width: 20vw;
    background-color: yellow;
}

.green{
    height: 35vh;
    width: 20vw;
    background-color: green;
}

.bloc{
    text-align: center;
    color: white;
    font-weight: bold;
    gap: 35px;
}

.bloc p{
    padding:  20px 0;
}

/* ----------------------------- 3e exercice--------------------------------------------- */
.bloc-colors{
    margin: 50px 180px;
    font-weight: bold;
    color: white;
}

.bloc-colors p{
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.bloc-colors .header{
    background-color: red;
    width: 70vw;
    height: 15vh;
    border: 1px solid #ededed;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
}

.main .left{
    background-color: darkcyan;
    width: 50vw;
    height: 85vh;
    border: 1px solid #ededed;
}

.main .right{
    background-color: pink;
    width: 17.2vw;
    height: 60vh;
    border: 1px solid #ededed;
    margin-left:35px;
}

.footer
{
    background-color: greenyellow;
    width: 70vw;
    height: 15vh;
    border: 1px solid #ededed;
}

/* -------------------------------------- site web--------------------------------------------- */
.otherPage{
    text-decoration: none;
    color: red;
}

p a:hover{
    border-bottom: 2px solid red;
}
.restaurant{
    background: url(../img/back-cover.jpg);
    background-size: cover;
}

.restaurant .wrapper{
    background-color: #edededce;
    height: auto;
    width: 80vw;
    margin: 0 auto;
}

.header{
   text-align: center;
}

.header img{
    height: 15vh;
    margin: 30px 0;
}

.header .navBar ul{
    display: flex;
    list-style: none;
    margin: 20px 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.1rem;
    padding: 10px 0;
    font-weight: bolder;
   
}

li a{
    text-decoration: none ;
    color: black;
    padding: 0 20px; 
    border-right: 1px solid black;
}

li a:hover{
    color: rgba(235, 154, 5, 0.897);
    font-weight: bolder;
    transition: 0.50s;
}

.dicton{
    text-align: end;
    margin: 0 10px;
}

.main-fourchette{
    display: flex;
}

.main-fourchette .left{
    margin: 35px 0;
}

.main-fourchette .right{
    margin-top: 35px;
    padding-right: 100px;
}


.right .reconnaissance{
    padding: 0;
}

.left h3,h4,p {
    padding: 10px 15px;
}

.right h1,.reconnaissance{
    margin: 0 12px ;
}

.right h3{
    margin: 10px 12px;
}

.biscuits-types .images-biscuits{
    gap: 10px;
    display: flex;
}

.biscuits-types .names-biscuits{
  display: flex;
  gap: 75px;
  padding: 0 20px;
  margin-bottom: 20px;
}

